.main-grid-container {
  height: 100%;
}

.card-container {
  display: flex;
  .card {
    width: 95%;
    margin: auto;
  }
  .card-modal {
    width: 50%;
    margin: 2rem auto;

    @media screen and (max-width: 763px){
      width: 95%;
    }
  }
}

.form-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}


