<mat-toolbar color="secondary">Edition de question</mat-toolbar>
<mat-card *ngIf="question">
  <mat-card-content>
    <form [formGroup]="questionsForm" (ngSubmit)="onSubmit(questionsForm.value)">
      <mat-form-field class="width-50"><input type="text" matInput="" placeholder="Nom" formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="width-50"><input type="number" matInput="" placeholder="Poid" formControlName="weight"/>
      </mat-form-field>
      <mat-form-field class="width-50"><input type="number" matInput="" placeholder="Position"
                                              formControlName="position"/></mat-form-field>
      <mat-form-field class="width-50">
        <mat-select placeholder="Type" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="width-50">
        <input type="number" matInput="" placeholder="Section" formControlName="section"/>
      </mat-form-field>
      <mat-form-field class="width-50"><input type="text" matInput="" placeholder="Title" formControlName="title"/>
      </mat-form-field>
      <mat-form-field class="width-50"><input type="text" matInput="" placeholder="Sous titre"
                                              formControlName="subtitle"/></mat-form-field>
      <mat-form-field class="width-50"><input type="text" matInput="" placeholder="Placeholder"
                                              formControlName="placeholder"/></mat-form-field>
      <mat-form-field class="full-width"><textarea cdkTextareaAutosize="" matInput="" placeholder="Description longue"
                                                   formControlName="description_long"></textarea></mat-form-field>
      <mat-form-field class="full-width"><textarea cdkTextareaAutosize="" matInput="" placeholder="Description courte"
                                                   formControlName="description_short"></textarea></mat-form-field>
      <mat-form-field class="width-50"><input type="text" matInput="" placeholder="Value" formControlName="value"/>
      </mat-form-field>
      <button mat-button="">Editer</button>
    </form>
  </mat-card-content>
</mat-card>
